

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Uploads</title>
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel="stylesheet" href="../static/css/css2.css">
  <link rel="stylesheet" href="../static/css/css2.css">
</head>
<body>

<h1>Upload the files here</h1>
<h4>Our script will then find an optimised route for the data</h4>
<!-- 
<form class="form1" action="/handleFileUpload" method="post" enctype="multipart/form-data">
    
    <div class="input1">
    Choose the agents file: <input class="form-control input-lg" type="file" name="agentsfile"/><BR>
    </div>
    <div class="input1">
    Choose the commodity file: <input class="form-control input-lg" type="file" name="commodityfile"/><BR>
    </div>
    <div class="input1">
    Choose the consumers file: <input class="form-control input-lg" type="file" name="consumersfile"/><BR>
    </div>
    <div class="button1">
    <input class="browse btn btn-primary input-lg" type="submit" value="Upload All"/>
    </div>
</form>  -->


<form class="form1" action="/handleFileUpload" method="post" enctype="multipart/form-data">
    
  <div class="input1">
  Choose the agents file: <input class="form-control input-lg" type="file" name="agentsfile"/><BR>
  </div>
  <div class="input1">
  Choose the commodity file: <input class="form-control input-lg" type="file" name="commodityfile"/><BR>
  </div>
  <div class="input1">
  Choose the consumers file: <input class="form-control input-lg" type="file" name="consumersfile"/> <BR>
  </div>
  <div class="button1">
  <input class="browse btn btn-primary input-lg" type="submit" value="Upload All"/>
  </div>
</form> 


</body>
</html>
